extend layout

block content
  section.wrapper.style1
    .container
      #content
        // Content
        article
          header
            h2= title1
            p #{content1}
            p #{content2}
            h3= title2
            p #{content3}
            p #{content4}
