extend layout

block content
  // Main
  section.wrapper.style1
    .container
      .row.gtr-200
        .col-8.col-12-narrower
          #content
            // Content
            article
              header
                h2= title
                p #{content}
              span.image.featured
                img(src='images/banner.jpg', alt='')
              p #{mainPage.content1}
              h3= mainPage.title2
              p #{mainPage.content2}
              p #{mainPage.content3}

        .col-4.col-12-narrower
          #sidebar
            // Sidebar
            section
              h3= sideBar.title
              p #{sideBar.content1}

              footer
                a.button(href='#') #{sideBar.mainLink}
            section
              h3= sideBar.linkTitle
              ul.links
                li
                  a(href='#') #{sideBar.link1}
                li
                  a(href='#') #{sideBar.link2}
                li
                  a(href='#') #{sideBar.link3}
                li
                  a(href='#') #{sideBar.link4}
                li
                  a(href='#') #{sideBar.link5}

              footer
                a.button(href='#') #{sideBar.link6}
